@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Voilaa!</h1>
    <p> <a href="https://learn.microsoft.com/aspnet/core">Build Web apps using ASP.NET Core</a>.</p>
</div>
